version: '2.1'

services:

  car_service:
    image: orderservice
    container_name: order_service
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://confserver:8070/
    ports:
      - '8082:8082'

  product_service:
    image: productservice
    container_name: product_service
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://confserver:8070/
    ports:
      - '8083:8083'

  client_service:
    image: clientservice
    container_name: client_service
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://confserver:8070/
    ports:
      - '8084:8084'

  awbd_db:
    image: mysql
    container_name: microservices_db
    environment:
      MYSQL_DATABASE: 'awbd'
      MYSQL_PASSWORD: '4321'
      MYSQL_ROOT_PASSWORD: '4321'
    ports:
      - '3306:3306'

  eurekaserver:
    image: eureka
    container_name: eurekaserver
    environment:
      SPRING_CONFIG_IMPORT: optional:configserver:http://confserver:8070/
    ports:
      - '8071:8071'

  zipkinserver:
    image: openzipkin/zipkin
    container_name: zipkinserver
    ports:
      - "9411:9411"

  confserver:
    image: config-server
    container_name: confserver
    ports:
      - '8070:8070'
