apiVersion: v1
kind: ConfigMap
metadata:
  name: config
data:
  SPRING_PROFILES_ACTIVE: dev
  SPRING_CONFIG_IMPORT: optional:configserver:http://34.116.174.211:8070/
  EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-service:8071/eureka/
