apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-container
  labels:
    app: eureka
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eureka
  template:
    metadata:
      labels:
        app: eureka
    spec:
      containers:
        - name: eureka
          image: costrunlarisa/eureka-server:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8071
          env:
            - name: SPRING_CONFIG_IMPORT
              valueFrom:
                configMapKeyRef:
                  name: config.yml
                  key: SPRING_CONFIG_IMPORT
            - name: eureka.client.service-url.defaultZone
              valueFrom:
                configMapKeyRef:
                  name: config.yml
                  key: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE

---

apiVersion: v1
kind: Service
metadata:
  name: eureka
spec:
  selector:
    app: eureka
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 8071
      targetPort: 8071
